{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static "css/bm.css" %}">
    <script src="{% static "js/bm.js" %}"></script>
</head>
<body>
    <div class="Mpage">
        <div class="nav">
            <div class="container-fluid col-8">
                <h2 class="alert text-center alert-dismissible alert-info mt-3">Admin Dashboard</h2>
            </div>
        </div>

        <div class="note">
            <a href="msg/" class="btn btn-primary text-center float-end" style="width: 40px;height: 40px; border-radius: 50%;
            position: absolute;top: 4%;right: 2%;
            ">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bell"  viewBox="2 2 16 15">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                </svg>
            </a>
        </div>

        <div class="container">
            <div class="row text-center">
                <div class="col-5 btn btn-info alert alert-danger text-center mt-5 p-5 h-50 border" onclick="users()">
                    <h1>User Data</h1>
                </div>
                <div class="col-1"></div>
                <div class="col-5 btn btn-primary alert alert-dark text-center mt-5 p-5 h-50 border" onclick="cors()">
                    <h1>Course Data</h1>
                </div>
            </div>
        </div>
       
       
       
       
       
        <!-- <div class="container status row m-auto text-center" style="margin-top: 10%;">
            <div class="userstatus me-5 border" style="width: 350px;height: 200px;">
                <p class="display-5 text-center mt-5" style="display: flex;align-content:center;justify-content: center; width: 100%;">User Data</p>
                <form action="/mb/users/" class="text-center">
                    <input type="submit" class="btn btn-primary  alert alert-info"  value="Check Data">
                </form>
            </div>
            <div class="userstatus me-5 border" style="width: 350px;height: 200px;">
                <p class="display-5 text-center mt-5" style="display: flex;align-content:center;justify-content: center; width: 100%;">Course Data</p>
                <form action="/mb/course/" class="text-center">
                    <input type="submit" class="btn btn-primary  alert alert-info"  value="Check Data">
                </form>
            </div> -->
        </div>
    </div>
    

    <script>
        // navigate to 
        function users() {
            window.location.href = "/admin/users/";
        }
        function cors() {
            window.location.href = "/admin/courses/";
        }
    </script>

</body>
</html>