{% load static  %}
{% static "img" as Baseimg %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/bm.css" %}">
    <script src="{% static "js/bm.js" %}"></script>
</head>
<body>
    <h2 class="col-5 text-center alert alert-info m-auto mt-3">COURSE DATA FROM DB</h2>
<div class="container mt-3">
    <h4 class="text-center alert">Add a new Course Hear
        <a href="">Add course</a>
    </h4>
    <table class="container table table-hover table-bordered">
    
        <tr class="table-primary">
            <td>Course Name</td>
            <td>Image</td>
            <td>Poster</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
        {% for c in course %}
        <tr>
            <td class="col-3">{{c.name}} </td>
            <td>
                <img src="{{Baseimg}}/{{c.img}} " alt="" width="5%">
            </td>
            <td>
                <img src="{{Baseimg}}/{{c.d_img}} " alt="" width="15%">
            </td>
            <td class="col-1">{{c.price}} </td>
            <td class="col-1 text-center">
                <form action="" >
                    <input type="hidden" name="id" value="{{c.id}}">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


</body>
</html>