{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - User data</title>
    <link rel="stylesheet" href="{% static "css/bm.css" %}">
    <script src="{% static "js/bm.js" %}"></script>
</head>
<body>
    <h2 class="col-5 m-auto text-center alert alert-light bg-info fw-bold mt-3">USERS FROM DATABASE </h2>
    <div class="contaoner-fluid mt-3">
        <table class="container table  table-striped table-responsive text-center">
          <thead>
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Education</th>
              <th>Course</th>
              <th>Address</th>
              <th>Action</th>  
            </tr>
          </thead>
          <tbody>
              
              {% for usr in users %}
            <tr>
                <td>{{usr.fname}} {{usr.lname}}</td>
                <td>{{usr.gender}}</td>
                <td>{{usr.edu}}</td>
                <td>{{usr.cors}}</td>
                <td>{{usr.address}}</td>
           
                
                <td class="col"> 
                    <input type="submit" class="btn btn-info" name="operation" id="" value="View Profile">
                    <input type="submit" class="btn btn-danger" name="operation" id="" value="Delete">
                </td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
    </div>


</body>
</html>