<!-- about.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About Us - EDU Pro Solutions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<style>
     body{
            background-image: url("{% static 'img/abv.jpg' %}");
            background-size: cover;
            background-position:  center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
</style>
<body>
    <div class="container">
        <h1 class="text-center" style="color: aliceblue; font-size: 60px; font-family:'Times New Roman', Times, serif; margin-top: 3%;">About Us</h1>
        <p class="text-center" style="color: aliceblue; font-size: 40px; font-style: italic; margin-top: 1%;">Meet the team behind EDU Pro Solutions</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/t1.webp'%}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">John Doe</h4>
                        <p class="card-text" style="text-align: center; font-style:italic; font-size: 20px;">Founder & CEO</p>
                        <p class="card-text">John is the founder and CEO of EDU Pro Solutions. He has a passion for education and technology.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/t2.jpg'%}" alt="Team Member 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Jane Smith</h5>
                        <p class="card-text" style="text-align: center; font-style:italic; font-size: 20px;">CTO</p>
                        <p class="card-text">Jane is the CTO of EDU Pro Solutions. She has extensive experience in software development and architecture.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/t3.avif'%}" alt="Team Member 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Bob Johnson</h5>
                        <p class="card-text" style="text-align: center; font-style:italic; font-size: 20px;">Marketing Manager</p>
                        <p class="card-text">Bob is the marketing manager of EDU Pro Solutions. He has a background in marketing and sales.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="margin-top: 2%;">
                    <img src="{% static 'img/t4.jpeg'%}" alt="Team Member 4" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Alice Brown</h5>
                        <p class="card-text" style="text-align: center; font-style:italic; font-size: 20px;">Course Creator</p>
                        <p class="card-text">Alice is a course creator at EDU Pro Solutions. She has expertise in programming and education.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="margin-top: 2%;">
                    <img src="{% static 'img/t5.avif'%}" alt="Team Member 5" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Mike Davis</h5>
                        <p class="card-text" style="text-align: center; font-style:italic; font-size: 20px;">Designer</p>
                        <p class="card-text">Mike is the designer at EDU Pro Solutions. He has a passion for user experience and design.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="margin-top: 2%;">
                    <img src="{% static 'img/t5.avif'%}" alt="Team Member 5" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Mike Davis</h5>
                        <p class="card-text" style="text-align: center; font-style:italic; font-size: 20px;">Designer</p>
                        <p class="card-text">Mike is the designer at EDU Pro Solutions. He has a passion for user experience and design.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <p class="text-center" style="margin-top: 2%; font-size: 30px; font-style: italic; color: cadetblue;">Designed by Django</p> -->
    </div>
</body>
</html>