{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu-Pro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<style>
    #bg5
{
    background-image: url("{% static 'img/con.jpg'%}");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
}
</style>
<body id="bg5">
    <div class="container">
        <h1 class="text-center text-white mt-3" style="font-family: 'Times New Roman', Times, serif; font-size: 50px; margin-top: 2%;">Contact Us</h1>
        <p id="para2" style="font-size: 20px;">A Contact Us page is one of the most valuable pages of your website. It allows prospects and customers to reach out to you for queries, support, or general feedback. Contact Us pages should be easy to navigate, offer multiple contact methods and have a personal touch.</p>
        <div class="row" id="icon">
            <div class="col-5">
                <i class="bi-envelope"> https://www.gmail.com</i><br>
                <i class="bi-facebook "> https://www.facebook.com</i><br>   
                <i class="bi-twitter"> https://www.twitter.com</i><br>
                <i class="bi-instagram"> https://www.bi-instagram.com</i><br>
                <i class="bi-linkedin"> https://www.bi-linkedin.com</i><br>
                <i class="bi-github"> https://www.github.com</i><br>
                <i class="bi-youtube"> https://www.youtube.com</i><br>
            </div>
            <div class="col-5" id="contact">
                <form action="/msg/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <h1 class="text-center">Contact</h1>                   
                        <input type="text" class="form-control mt-3" id="exampleFormControlInput1" placeholder="Full Name" name="name">
                        <input type="text" class="form-control mt-4" id="exampleFormControlInput1" placeholder="Email" name="email">
                        <textarea class="form-control mt-4" id="exampleFormControlTextarea1" rows="3" placeholder="Enter the message" name="msg"></textarea>
                        <button type="submit" class="btn btn-info w-100 mt-5">Submit</button>
                    </div>
                </form>
                
            </div>

        </div>
        
    </div>
</body>
</html>