{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu-Pro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<style>
    body{
        color: black;
    }
    #bg5
{
    background-image: url("{% static 'img/con.jpg'%}");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
}
</style>
<body id="bg5" style="color: black;">
    <div class="container">
        <h1 class="text-center text-dark mt-3" style="font-family: 'Times New Roman', Times, serif; font-size: 50px; margin-top: 2%;">Contact Us</h1>
        <p id="para2" style="font-size: 20px;" class="text-dark">
            At <b>EDU Pro Solutions</b>, we're committed to providing exceptional service and support to our valued customers. Our team of experts is dedicated to helping you achieve your goals, whether you're a beginner or an experienced programmer. With our cutting-edge technology and innovative approach, we offer a range of services designed to empower you with the skills and knowledge you need to succeed in the tech industry.
<br><br>
Have a question, need assistance, or just want to say hello? We're here to listen and help. We value your feedback and look forward to hearing from you. Please don't hesitate to contact us using the form below, and we'll get back to you promptly. We're committed to responding to your messages as soon as possible, usually within 24 hours. Your satisfaction is our top priority, and we're dedicated to providing you with an exceptional experience.



        </p>
        <div class="row" id="icon">
            <div class="col-5 text-dark" >
                <i class="bi-envelope"> https://www.gmail.com</i><br>
                <i class="bi-facebook "> https://www.facebook.com</i><br>   
                <i class="bi-twitter"> https://www.twitter.com</i><br>
                <i class="bi-instagram"> https://www.bi-instagram.com</i><br>
                <i class="bi-linkedin"> https://www.bi-linkedin.com</i><br>
                <i class="bi-github"> https://www.github.com</i><br>
                <i class="bi-youtube"> https://www.youtube.com</i><br>
            </div>
            <div class="col-5" id="contact">
                <form action="/msg/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <h1 class="text-center">Contact</h1>                   
                        <input type="text" class="form-control mt-3" id="exampleFormControlInput1" placeholder="Full Name" name="name">
                        <input type="text" class="form-control mt-4" id="exampleFormControlInput1" placeholder="Email" name="email">
                        <textarea class="form-control mt-4" id="exampleFormControlTextarea1" rows="3" placeholder="Enter the message" name="msg"></textarea>
                        <button type="submit" class="btn btn-info w-100 mt-5">Submit</button>
                    </div>
                </form>
                
            </div>

        </div>
        
    </div>
</body>
</html>