{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDU - Register</title>
    <link rel="stylesheet" href="{% static "css/bm.css" %}">
    <script src="{% static "js/bm.js" %}"></script>
    <style>
        input{
            outline: hidden;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1 class="alert text-center">New User Registration </h1>
        <form method="post" action="/usrpage/">
            {% csrf_token %}
            <div class="container">
                
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Full Name</label>
                        </div>
                        <div class="col-8 row" >
                            <div class="col-6 ">
                                <input type="text" class="form-control bg-dar" placeholder="First Name" name="fname" required>
                            </div>
                            <div class="col-6 ">
                                <input type="text" class="form-control bg-dar" placeholder="Last Name" name="lname" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label" >Gmail</label>
                        </div>
                        <div class="col-8">
                            
                        <div class="col">
                            <input type="text" class="form-control bg-dar" name="gmail" placeholder="E-Mail Address" required>
                        </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Mobile</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control bg-dar" name="mobile" placeholder="Phone Number" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="gender" class="form-label">Gender</label>
                        </div>
                        <div class="col-8">
                            <select name="gender" id="" class="form-control" required>
                                <option value="#">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Address</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control bg-dar" name="address" placeholder="Address" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Qualification</label>
                        </div>
                        <div class="col-8">
                            <select name="edu" id="" class="form-control" required
                                <option value="#">Select Qualification</option>
                                <option value="10th">10th</option>
                                <option value="12th">12th</option>
                                <option value="Graduation">Graduation</option>
                                <option value="Post Graduation">Post Graduation</option>
                                <option value="Phd">Phd</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Course</label>
                        </div>
                        <div class="col-8">
                            <select name="course" id="" class="form-control" required>
                                <option value="#">Select Course</option>
                                {% for cours in course %}
                                <option value="{{cours.name}}">{{cours.name}}</option>
                                {% endfor %}
                                {% comment %} <option value="Python">Python</option>
                                <option value="Django">Django</option>
                                <option value="Flask">Flask</option>
                                <option value="Angular">Angular</option>
                                <option value="java">Java</option>
                                <option value="C++">C++</option>
                                <option value="C">C</option>
                                <option value="C#">C#</option>
                                <option value="PHP">PHP</option> {% endcomment %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">USERNAME</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control bg-dar" name="usrname" placeholder="username">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">PASSWORD</label>
                        </div>
                        <div class="col-8">
                            <input type="password" class="form-control bg-dar" name="password" placeholder="Enter Password" required>
                        </div>
                    </div>
                    <div class="col-3  text-center text-center m-auto">
                        <input type="submit" class="btn bg-primary" value="Register">
                    </div>
            </div>
        </form>
    </div>
</body>
</html>