{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDU - Register</title>
    <link rel="stylesheet" href="{% static "css/bm.css" %}">
    <script src="{% static "js/bm.js" %}"></script>
    <style>
        body{
            background-image: url('https://wallpapercave.com/wp/wp7639045.jpg');
            background-position: center;
            background-size: cover;
        }
        label{
            color: white;float: inline-end;
            font-weight: bold;
            text-shadow: 2px 2px 10px black;
        }
        input{
            opacity: 0.8;
            outline-offset: none;
        }
        input{
            outline: hidden;
        }
        #h1top{
            text-shadow: 2px 2px 2px white,-2px -2px 2px white,4px 4px 5px red;
            /* text-shadow: -2px -2px white; */
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h3><a href="/" class="p-2 m-3 btn btn-info" >
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
              </svg>
        </span>    
        </a> </h3>
    <div class="box" style="margin-top: -3.5%;">
        <h1 class="alert text-center" id="h1top">New User Registration </h1>
        <form method="post" action="/usrpage/">
            {% csrf_token %}
            <div class="container">
                
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Full Name</label>
                        </div>
                        <div class="col-8 row" >
                            <div class="col-6 ">
                                <input type="text" class="form-control bg-dar" placeholder="First Name" name="fname" required>
                            </div>
                            <div class="col-6 ">
                                <input type="text" class="form-control bg-dar" placeholder="Last Name" name="lname" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label" >Gmail</label>
                        </div>
                        <div class="col-8">
                            
                        <div class="col">
                            <input type="text" class="form-control bg-dar" name="gmail" placeholder="E-Mail Address" required>
                        </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Mobile</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control bg-dar" name="mobile" placeholder="Phone Number" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="gender" class="form-label">Gender</label>
                        </div>
                        <div class="col-8">
                            <select name="gender" id="" class="form-control" required>
                                <option value="#">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Address</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control bg-dar" name="address" placeholder="Address" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Qualification</label>
                        </div>
                        <div class="col-8">
                            <select name="edu" id="" class="form-control" required
                                <option value="#">Select Qualification</option>
                                <option value="10th">10th</option>
                                <option value="12th">12th</option>
                                <option value="Graduation">Graduation</option>
                                <option value="Post Graduation">Post Graduation</option>
                                <option value="Phd">Phd</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Course</label>
                        </div>
                        <div class="col-8">
                            <select name="course" id="" class="form-control" required>
                                <option value="#">Select Course</option>
                                {% for cours in course %}
                                <option value="{{cours.name}}">{{cours.name}}</option>
                                {% endfor %}
                                {% comment %} <option value="Python">Python</option>
                                <option value="Django">Django</option>
                                <option value="Flask">Flask</option>
                                <option value="Angular">Angular</option>
                                <option value="java">Java</option>
                                <option value="C++">C++</option>
                                <option value="C">C</option>
                                <option value="C#">C#</option>
                                <option value="PHP">PHP</option> {% endcomment %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">USERNAME</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control bg-dar" name="usrname" placeholder="username">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">PASSWORD</label>
                        </div>
                        <div class="col-8">
                            <input type="password" class="form-control bg-dar" name="password" placeholder="Enter Password" required>
                        </div>
                    </div>
                    <div class="col-3  text-center text-center m-auto">
                        <input type="submit" class="btn bg-primary" value="Register">
                    </div>
            </div>
        </form>
    </div>
</body>
</html>