{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B2B</title>
    <link rel="stylesheet" href="{% static "css/bm.css" %}">
    <script src="{% static "js/bm.js" %}"></script>
</head>
<body>
    <div class="box">
        <h1 class="alert text-center">Register for a {{tid}}</h1>
        <form method="post" action="/usredit/">
            {% csrf_token %}
            <div class="container">
                <input type="number" name ="usrid" placeholder="Usrid">
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Full Name</label>
                        </div>
                        <div class="col-8 row" >
                            <div class="col-6 ">
                                <input type="text" class="form-control bg-dar" placeholder="First Name" name="fname" value="{{user.fname}}">
                            </div>
                            <div class="col-6 ">
                                <input type="text" class="form-control bg-dar" placeholder="Last Name" name="lname" value="{{user.lname}}">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Gmail</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control bg-dar" name="gmail" placeholder="E-Mail Address" value="{{user.mail}}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Mobile</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control bg-dar" name="mobile" placeholder="Phone Number" value="mobile">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="gender" class="form-label">Gender</label>
                        </div>
                        <div class="col-8">
                            <select name="gender" id="" class="form-control" value="{{user.gender}}">
                                <option value="#">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Address</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control bg-dar" name="address" placeholder="Address" value="{{user.address}}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">Qualification</label>
                        </div>
                        <div class="col-8">
                            <select name="edu" id="" value="{{user.edu}}" class="form-control">
                                <option value="#">Select Qualification</option>
                                <option value="10th">10th</option>
                                <option value="12th">12th</option>
                                <option value="Graduation">Graduation</option>
                                <option value="Post Graduation">Post Graduation</option>
                                <option value="Phd">Phd</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">USERNAME</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control bg-dar" name="usrname" placeholder="username">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-2 text-center">
                            <label for="name" class="form-label">PASSWORD</label>
                        </div>
                        <div class="col-8">
                            <input type="password" class="form-control bg-dar" value="{{user.pswd}}" name="password" placeholder="Enter Password">
                        </div>
                    </div>
                    <div class="col-3  text-center text-center m-auto">
                        <input type="submit" class="btn bg-primary" value="Register">
                    </div>
            </div>
        </form>
    </div>
</body>
</html>